body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container,
.display-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  margin-right: 10px;
}

.display-container {
  margin-left: 10px;

}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group button[type="submit"],
.form-group button[type="button"] {
  padding: 10px 20px;
  background-color: #27374D;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button[type="button"] {
  background-color: #f44336;
  margin-left: 5px;
}

.display-data {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.gender-group label {
  margin-right: 10px;
}

.form-group.error input {
  border-color: #f44336;
}